<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Cadastro de produtos</title>
<link href="style/style.css" rel="stylesheet">
</head>
<body>
<h1 class="title"> Cadastre um novo produto</h1>


<form action="#" th:action="@{/save}" th:object="${product}"  method="post">
	
		
			<br>
	
		<td>Nome do produto</td>
		<td><input type="text" th:field="*{name}"/></td>
	
		
		<td>Preço</td>
		<td><input type="text" th:field="*{price}" /></td>
	
		
			<td>Marca</td>
		 <td><input type="text" th:field="*{brand}" /></td>
		

		
			<td>Criado</td>
		<td> <input  type="text" th:field="*{madein}" /></td>


		
			<input type="submit" value="Cadastrar"/>
	</form>


</body>
</html>